@forward 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';


body {
    font-family: Figtree, system-ui, -apple-system, sans-serif;
}

// @use 'components/buttons';
// @use 'layouts/header';
